html
  head
    title OTP Email
    style(type='text/css')
      | body {
      |   font-family: 'Arial', sans-serif;
      |   background-color: #f4f4f4;
      |   color: #333;
      |   margin: 0;
      |   padding: 0;
      | }
      | .container {
      |   max-width: 600px;
      |   margin: 20px auto;
      |   background-color: #fff;
      |   padding: 20px;
      |   border-radius: 8px;
      |   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      | }
      | h1 {
      |   color: #007BFF;
      | }
      | p {
      |   margin-bottom: 20px;
      | }
      | .otp {
      |   font-size: 24px;
      |   font-weight: bold;
      | }
  body
    div.container
      h1 OTP Verification
      p Thank you for using our service. Your One-Time Password (OTP) is:
      span.otp #{otp}
      p This OTP is valid for 5 minutes.
      p If you didn't request this OTP, please ignore this email.
      p Regards,
      p Dasari Umamahesh 
      a(href='https://www.linkedin.com/in/umamaheshdasari/') LinkedIn
